@import url(https://fonts.googleapis.com/css?family=Poppins:300);
 *, *:before, *:after {
	 box-sizing: border-box;
}

body {
	height: 100vh;
	background: #f5f4ef;
	overflow-y: hidden;
	font-family: 'Poppins', sans-serif;
  }
  
.navbar{
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
	background-color:rgb(224, 161, 170)
}
.navbar-brand {
    color: darkred;
    font-style: italic;
    font-weight: bold;
    font-size: 1.5em;
    text-decoration: wavy;
    text-align: center;
} 
.navbar-nav .nav-link.active {
    color: firebrick;
}
#navv{
    align-items: center;
    display: inline-flex;
    padding: 8px;
    position: relative;
    transition: opacity .15s linear;
}
/* .navbar-scrolled{
  background-color: lightpink;
} */

.footer-col{
  width: 25%;
  padding: 0 25px;
  
}
.footer-col h4{
  font-size: 18px;
  color: black;
  text-transform: capitalize;
  margin-bottom: 30px;
  font-weight: 500;
  position: relative;
}
.footer-col ul li{
  margin-bottom: 10px;
}
.footer-col ul li a{
  font-size: 16px;
  text-transform: capitalize;
  color: #000000;
  text-decoration: none;
  font-weight: 300;
  display: block;
}
.footer-col ul li a:hover{
  color: #b30030;
  padding-left: 10px;
}
.footer-col .social-links a{
  display: inline-block;
  height: 40px;
  width: 40px;
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  background-color: #f9f7f7;
  border-radius: 50%;
}
.footer-col .social-links a:hover{
  color: #24262b;
  background-color: #fff;
}
