/*home.html*/
*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif
}
body{
    line-height: 1.5;
    letter-spacing: 1.5px;
    font-family: cursive;
    font-size: 1em;
    background-color:rgb(255, 255, 255);
}
.bg-vid{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.5);
    top: 0;
    left: 0;
}
.navbar{
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
}
.navbar-brand {
    color: white;
    font-style: italic;
    font-weight: bold;
    font-size: 1.5em;
    text-decoration: wavy;
    text-align: center;
} 
.navbar-nav .nav-link.active {
    color: firebrick;
}
#navv{
    align-items: center;
    display: inline-flex;
    padding: 8px;
    position: relative;
    transition: opacity .15s linear;
}
.navbar-scrolled{
  background-color: lightpink;
}
.women{
  position: relative;
  text-align: center;
  color: rgb(238, 238, 238);
}
.women-text{
    position: absolute;
    bottom: 20px;
    left: 20px;
    padding: 10px;
    font-family: Papyrus;
}
.women h1{
    margin: 0;
    font-size: 3em;
    font-weight: bold;
}
.women p{
    margin: 0;
    font-size: 1.5em;  
}
/*karoseli*/
.shop-by-category{
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.shop-by-category__cas{
    display: inline-block;
    padding: 10px;
}
.shop-by-category .label{
    color: #333;
    font-size: 2.8em;
    font-weight: 600;
    margin-bottom: 10px ;
    display: block;
}
.shop-by-category .emphasized{
    color: #ebc3eb;
    font-size: 2.2em;
    text-decoration: none;
}
.shop-by-category .emphasized:hover{
    text-decoration: underline;
}
.card-title{
    text-align: center;
    font-size: 1.5em;
    color: lightpink;
}
.card-text{
    color: #201e1e;
}
.card{
    margin: 0;
}
.card img{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}
.blockquotee{
    text-align: center;
    color: #f4b2d9;
    font-size: 25px;
    margin-top: 0px;
}

/* Icons Container */
.icons-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    gap: 2.5rem;
    padding-top: 2rem;
    padding-bottom: 1.5rem;
  }
  /* Individual Icons */
  .icons {
    display: flex;
    align-items: center;
    width: 300px;
    padding: 1rem;
    margin: 10px;
    background-color: #f9f9f9;
    border-radius: 30px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    border: .1rem solid rgba(0, 0, 0, .1);
  }
  .icons-container .icons img{
    height: 8rem;
    margin-right: 2rem;
  }
  .icons:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  .icons-container .icons h3{
    color: #333;
    padding-bottom: .5rem;
    font-size: 1.5rem;
    text-align: center;
    color: darkred;
  }
  
  .info span {
    color: #777;
    font-size: 0.9em;
    text-align: center;
    color: darkred;
  }
/*produktet*/
.products{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.product-cards {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 50px;
    width: 30%;
    margin-bottom: 20px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
    text-align: center;
}
.discount {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #ff4d4d;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 16px;
}

.products-image {
    max-width: 100%;
    height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;;
}
.product-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    width: 100%;
}
.product-name {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #333;
}
.product-price {
    font-size: 1em;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.current-price {
    color: #e91e63;
    font-weight: bold;
    margin-right: 15px;
}
.original-price {
    color: #777;
    text-decoration: line-through;
}
.add-to-cart {
    background-color: #d55959c6;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
}
.add-to-cart:hover {
    background-color: #b30030;
}

/*review*/
.review {
    padding: 40px 0;
    background-color: #fff;
}
.review .heading {
    text-align: center;
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 20px;
    position: relative;
}
.review .heading span {
    color: #ff4d4d;
}
.box-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}
.box {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 10px;
    padding: 20px;
    max-width: 600px;
    margin: 10px;
    position: relative;
    overflow: hidden;
}
.stars {
    display: flex;
    gap: 5px;
    margin-bottom: 10px;
}
.stars i {
    color: #ffdd57;
    font-size: 1.2rem;
}
.box p {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 20px;
}
.user {
    display: flex;
    align-items: center;
}
.user img {
    border-radius: 50%;
    width: 150px;
    height: auto;
    margin-right: 30px;
}
.user-info {
    display: flex;
    flex-direction: column;
}
.user-info h3 {
    font-size: 1.1rem;
    margin: 0;
}
.user-info span {
    font-size: 0.9rem;
    color: #777;
}
.fas {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
}

/*about.html*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.5;
    letter-spacing: 1.5px;
    font-family: cursive;
    font-size: 1em;
}
/* foto e fillimit */
.hero {
    position: relative;
    text-align: center;
    color: white;
}
.women img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}
.abouttext {
    position: absolute;
    transform: translate(-40%, -50%);
    text-align: center;
    top: 50%;
    right: 50%;
    padding: 10px;
}
.women h1 { 
    margin: 0;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    color: lightpink;
    
}
.women p {
    margin: 0;
    font-size: 1.2em;
    color: lightpink;
}
.abouttext h1 span {
    color: white;
}
/* 3 ikonat*/
.services {
    display: flex;
    justify-content: space-around;
    padding: 30px 0;
    background-color: #ffffff;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
}
.service {
    text-align: center;
    display: flex;
    align-items: center;
    width: 250px;
    padding: 1rem;
    margin: 10px;
    background-color: #f9f9f9;
    border-radius: 30px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    border: .1rem solid rgba(0, 0, 0, .1);
}
.service:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    background-color: rgb(251, 194, 203);
  }

.service img {
    width: 60px;
    margin-bottom: 15px;
    border-radius: 50%;
}

.service h3 {
    margin-bottom: 10px;
    text-align: center;
    font-size: 1.5rem;
    margin: 0;
    padding-top: 10px;
}
/*shpjegimet ne vijim*/
/*foto1*/
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}
.beauty-section0 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh; 
    position: relative;
}
.image-container {
    width: 40%;
    height: 100%;
    position: absolute;
    top: 70px;
    left: 70px;
}
.image-container img {
    width: 100%;
    height: 85%;
    object-fit: cover;
    justify-content: center;
    align-items: center;
    margin: 5px 0;
}
.text-container {
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #201e1e;
}
.text-container h1 {
    color: #ff69b4;
}
/*foto2*/
.beauty-section1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh; 
    position: relative;
}
.item image {
    width: 40%;
    height: 100%;
    position: absolute;
    top: 70px;
    left: 70px;
}
.image-container img {
    width: 100%;
    height: 85%;
    object-fit: cover;
    justify-content: center;
    align-items: center;
    margin: 5px 0;
}
.text-container {
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #201e1e;
}
.text-container h1 {
    color: #ff69b4;
}

/* pjesa e fundit*/
body {
    font-family: Arial, sans-serif; 
    justify-content: center;
    align-items: center;
}
.product-showcase {
    text-align: center;
}
.product-showcase h1 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 40px;
    position: relative;
    color: rgb(250, 153, 169);
}
.product-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}

.product-card {
    background-color: white;
    border: 5px solid #f7bebe;
    border-radius: 50px;
    width: 540px;
    display: flex;
    align-items: center;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product-icon {
    flex-shrink: 0;
    width: 100px;
    height: 165px;
    margin-right: 20px;
}

.product-icon img {
    width: 100%;
    height: auto;
}

.product-info {
    text-align: left;
}
.product-info h2 {
    margin: 0;
    font-size: 30px;
    font-weight: bold;
    color: #e63946;
}
.product-info h3 {
    margin: 5px 0;
    font-size: 30px;
    font-weight: bold;
}
.product-info p {
    margin: 0;
    color: #555;
}
/* shprehja */
.blockquote{
    text-align: center;
    color: #EBC3DB;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 60px;
}


/* products.html*/
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.navbar{
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
	background-color:lightpink
}
.imazhipare{
    display: block;
    max-width: 100%;
    height: 80%;
    object-fit: cover;
}
img{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}
.collection-header h1{
    text-align: center;
    color: lightpink;
    font-size: 40px;
}
.koleksioni{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.koleksioni .product{
    width: 20%;
    margin: 30px;
    box-sizing: border-box;
    float: left;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    padding-top: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25);
    height: 650px;
}
h3{
    text-align: center;
    font-size: 30px;
    margin: 0;
    padding-top: 10px;
}
h4{
    text-align: center;
    font-size: 30px;
    margin: 0;
    padding-top: 10px;
}

p{
    text-align: center;
    color: #b2bec3;
    padding-top: 0 8px;
}

h6{
    font-size: 26px;
    text-align: center;
    color: #222f3e;
    margin: 0;
}
ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

li{
    padding: 10px;
}

.fa{
    font-size: 26px;
    transition: .4s;
}

.checked{
    color: #f49e4d;
}

.fa:hover{
    transform: scale(1.3);
    transition: .6s;
}
.button{
    text-align: center;
    font-size: 24px;
    color: #fff;
    width: 100%;
    padding: 15px;
    border: 0;
    outline: none;
    cursor: pointer;
    margin-top: 5px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background: #EBC3DB;
}
/*detailkategori.html*/

h4{
    text-align: center;
    font-size: 30px;
    margin: 0;
    padding-top: 10px;
}

p{
    text-align: center;
    color: #b2bec3;
    padding-top: 0 8px;
}

h6{
    font-size: 26px;
    text-align: center;
    color: #222f3e;
    margin: 0;
}
ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

li{
    padding: 10px;
}

.fa{
    font-size: 26px;
    transition: .4s;
}

.checked{
    color: #f49e4d;
}

.fa:hover{
    transform: scale(1.3);
    transition: .6s;
}
.button{
    text-align: center;
    font-size: 24px;
    color: #fff;
    width: 100%;
    padding: 15px;
    border: 0;
    outline: none;
    cursor: pointer;
    margin-top: 5px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background: #EBC3DB;
}
/*detailproduct.html*/

h1{
    text-align: center;
    font-size: 30px;
    margin: 0;
    padding-top: 10px;
}
p{
    text-align: center;
    color: #201e1e;
    padding-top: 10px;

}
.product-container {
    text-align: center;
    margin-top: 50px;
  }
  .product-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .product-details {
    margin-top: 20px;
  }
  .product-title {
    font-size: 3.5em;
    margin-bottom: 60px;
    text-align: center;
    
  }
  .product-description {
    font-size: 1.2em;
    color: #555;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    position: relative;
    padding-left: 30px;
    white-space: pre-line;
  }
  .custom-card {
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #fff;
  }



/* contact.html*/
@import url(https://fonts.googleapis.com/css?family=Poppins:300);
 *, *:before, *:after {
	 box-sizing: border-box;
}
.navbar{
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
	background-color:lightpink
}
.navbar-brand {
    color: white;
    font-style: italic;
    font-weight: bold;
    font-size: 1.5em;
    text-decoration: wavy;
    text-align: center;
} 
.navbar-nav .nav-link.active {
    color: firebrick;
}
#navv{
    align-items: center;
    display: inline-flex;
    padding: 8px;
    position: relative;
    transition: opacity .15s linear;
}
.form-label {
    color: black;
}
input[type=text], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #b0a7a7;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .container {
    border-radius: 5px;
    background-color: #fff;
    padding: 20px;
  }

/* footer*/
* {
    margin: 0;
    padding: 0;
    /*box-sizing: border-box;*/
    font-family: 'Open Sans', sans-serif;
  }
  
  .footer {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 1500px;
    width: 100%;
    background-color: lightpink;
    border-radius: 6px;
  }
  
  .footer .footer-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1.5rem;
    padding: 10px;
    align-items: center;
    flex-direction: column;
  }
  
  .footer-row .footer-col h4 {
    color:black;
    font-size: 1.2rem;
    font-weight: 400;
  }
  
  .footer-col .links {
    margin-top: 20px;
  }
  
  .footer-col .links li {
    list-style: none;
    margin-bottom: 10px;
  }
  
  .footer-col .links li a {
    text-decoration: none;
    color:#0e0c0c;
  }
  
  .footer-col .links li a:hover {
    color: hsl(0, 57%, 54%);
  }
  
  .footer-col p {
    margin: 20px 0;
    color: #050505;
    max-width: 300px;
  }
  
  .footer-col form {
    display: flex;
    gap: 5px;
  }
  
  .footer-col input {
    height: 40px;
    border-radius: 6px;
    background: none;
    width: 100%;
    outline: none;
    border: 1px solid #7489C6 ;
    caret-color: #fff;
    color: #fff;
    padding-left: 10px;
  }
  
  .footer-col input::placeholder {
    color: #ccc;
  }
  
   .footer-col form button {
    background: #fff;
    outline: none;
    border: none;
    padding: 10px 15px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 500;
    transition: 0.2s ease;
  }
  
  .footer-col form button:hover {
    background: #cecccc;
  }
  
  .footer-col .icons {
    display: flex;
    margin-top: 30px;
    gap: 30px;
    cursor: pointer;
  }
  
  .footer-col .icons i {
    color: #afb6c7;
  }
  
  .footer-col .icons i:hover  {
    color: #fff;
  }
  .footer .social-links a {
      display: inline-block;
      margin-right: 10px;
      color: #ffffff;
      font-size: 20px;
  }
  .footer .social-links a:hover {
      color: #df5757;
  }
  .footer-col ul li a:before {
      content: '\f105';
      font-family: 'Font Awesome 5 Free';
      font-weight: 900;
      position: absolute;
      left: 0;
      color: #fff;
  }
  .footer-col ul li{
      margin-bottom: 10px;
  }
  .footer-col ul li a{
      font-size: 16px;
      text-transform: capitalize;
      color: white;
      text-decoration: none;
      font-weight: 300;
      display: block;
  }
  .footer-col ul li a:hover{
      color: #b30030;
      padding-left: 10px;
  }
  .footer-col .social-links a{
      display: inline-block;
      height: 40px;
      width: 40px;
      margin: 0 10px 10px 0;
      text-align: center;
      line-height: 40px;
      background-color: #000000;
      border-radius: 50%;
      align-items: center;
  }

/*login.html*/
h1{
    padding-top: 100px;
    color: lightpink;
}

/*accessLogin*/
h2{
    text-align: center;
    font-size: 30px;
}



/*media screen*/
@media screen and (min-width: 750px) {
    .card-information+.card {
        margin-bottom:1.7rem
    }
}
@media screen and (min-width: 800px) {
    .card .media--square {
        padding-bottom:calc(332/325 * 100%)
    }
}
@media (max-width: 420px) {
    .container {
        flex-wrap: nowrap;
    }

    .image, .col {
        flex: 1 1 50%;
    }

    .image {
        text-align: right;
    }

    .col {
        text-align: left;
    }

    h1 {
        font-size: 2.5em;
    }

    p {
        font-size: 1.2em;
    }
}
@media (max-width: 768px) {
    .container {
        flex-wrap: nowrap;
    }

    .image, .col {
        flex: 1 1 50%;
    }

    .image {
        text-align: right;
    }

    .col {
        text-align: left;
    }

    h1 {
        font-size: 2.5em;
    }

    p {
        font-size: 1.2em;
    }
}
@media (max-width: 1031px) {
    .container {
        flex-wrap: nowrap;
    }

    .image, .col {
        flex: 1 1 50%;
    }

    .image {
        text-align: right;
    }

    .col {
        text-align: left;
    }

    h1 {
        font-size: 2.5em;
    }

    p {
        font-size: 1.2em;
    }
}
 /* per 6 produktet te home*/
@media (max-width: 768px) {
    .products {
        flex-direction: column;
        align-items: center;
      }
    
      .product-cards {
        width: 50%;
        padding: 10px;
        margin: 10px 0;
      }
    
      .product-name {
        font-size: 0.9em;
      }
    
      .add-to-cart {
        padding: 8px 16px;
        width: 100%;
      }
    }

  @media (max-width: 480px) {
        .products {
          flex-direction: column;
          align-items: center;
        }
      
        .product-cards {
          width: 100%;
          padding: 10px;
          margin: 10px 0;
        }
      
        .product-name {
          font-size: 0.9em;
        }
      
        .add-to-cart {
          padding: 8px 16px;
          width: 100%;
        }
  }
  /* about.html*/
  @media (max-width: 1024px) {
    .abouttext h1 {
        font-size: 20px;
    }
    
    .abouttext p {
        font-size: 14px;
    }
    
    .services {
        flex-direction: column;
        align-items: center;
    }
    
    .service {
        width: 50%;
    }
}@media (max-width: 768px) {
    .hero .women {
        flex-direction: column;
        text-align: center;
    }

    .hero img {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .abouttext h1 {
        font-size: 18px;
    }
    
    .abouttext p {
        font-size: 14px;
    }
    
    .service {
        width: 50%;
        margin: 10px 0;
    }
}
@media (max-width: 480px) {
    .abouttext h1 {
        font-size: 16px;
    }
    
    .abouttext p {
        font-size: 12px;
    }
    
    .service h3 {
        font-size: 16px;
    }
}
  @media (max-width: 1024px) {
    h1 {
        font-size: 20px;
    }
    
    p {
        font-size: 14px;
    }
}
@media (max-width: 768px) {
    section {
        flex-direction: column;
    }

    .image-container {
        margin-right: 0;
        margin-bottom: 20px;
    }

    h1 {
        font-size: 18px;
    }
    
    p {
        font-size: 14px;
    }
}
@media (max-width: 480px) {
    h1 {
        font-size: 16px;
    }
    
    p {
        font-size: 12px;
    }
}
/*produktet te gjitha*/
@media (max-width: 1024px) {
    .product {
        flex: 1 1 calc(28% - 20px);
    }
    
    .product h4 {
        font-size: 16px;
    }
    
    .product h6 {
        font-size: 14px;
    }
}
@media (max-width: 768px) {
    .product{
        flex: 1 1 calc(30% - 20px);
    }    
    
    .product h4 {
        font-size: 14px;
    }
    
    .product h6 {
        font-size: 12px;
    }
    
    .product ul {
        gap: 2px;
    }
    
    .product .button {
        padding: 8px 16px;
    }
}
@media (max-width: 480px) {
    .product{
        flex: 1 1 calc(50% - 20px);
    }   
    .product h4 {
        font-size: 12px;
    }
    
    .product h6 {
        font-size: 10px;
    }
    
    .product .button {
        padding: 6px 12px;
    }
}
  /*footer*/
@media (max-width: 768px) {
    .footer {
      position: relative;
      bottom: 0;
      left: 0;
      transform: none;
      width: 100%;
      border-radius: 0;
    }
  
    .footer .footer-row {
      padding: 20px;
      gap: 1rem;
    }
  
    .footer-col form {
      display: block;
    }
  
    .footer-col form :where(input, button) {
      width: 100%;
    }
  
    .footer-col form button {
      margin: 10px 0 0 0;
    }
  }