{% extends 'index.html'%}
{% load static%}

{% block content %}
    <!--nis forma-->
    <form class="mt-5 pt-5" method="POST">
        {% csrf_token %}
    <div class="mb-3">
        <label for="firstname" class="form-label">First Name</label>
        <input type="text" class="form-control" id="firstname" name="firstname">
        <label for="lastname" class="form-label">Last Name</label>
        <input type="text" class="form-control" id="lastname" name="lastname">
        <label for="email" class="form-label">E-mail Adress</label>
        <input type="email" class="form-control" id="email" name="email">
        <label for="comment" class="form-label">Comment</label>
        <input type="text" class="form-control" id="comment" name="comment">
        <input type="submit" value="Send" class="btn btn-success">
    </div>
    </form>
    <div class="alert sms" role="alert">
    </div>
{% endblock %}