{% extends 'index.html'%}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/products.css' %}"> {% endblock %}

{% block content %}
<section class="tegjithaproduktet">
  <div class="imazhipare">
    <img src="{% static 'images/produktfirstimg.webp' %}" alt="fillimfoto">
  </div>
  <div class="collection-header page-width">
    <h1>Shop All</h1>
  </div>
  <div class="koleksioni">
    {% for product in products %}
    <!-- Kjo sillte problem -->
    <!-- <div class="kontent"> -->
    <div class="">
      <img src="{{product.product_image.url}}" alt="text">
      <h4>{{product.product_name }}</h4>
      <p>{{product.product_description}}</p>
      <h6>{{product.product_price}}</h6>
      <ul>
        <li><i class="fa fa-star checked"></i></li>
        <li><i class="fa fa-star checked"></i></li>
        <li><i class="fa fa-star checked"></i></li>
        <li><i class="fa fa-star checked"></i></li>
        <li><i class="fa fa-star"></i></li>
      </ul>
      <a href="{% url 'detailproductPage' product.pk %}" class="btn btn-danger">Buy Now</a>
    </div>
    {% endfor %}
  </div>
</section>
{% block script %}
<script src="{% static 'javascript/products.js' %}"></script>
{% endblock %}
{% endblock %}